<div class="col-md-12 col-xs-12">
  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <%= form_for(@receive) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title,:class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content,:class => 'form-control' %>
    </div>
    <%= f.hidden_field :message_id,:value => @message_id %>
    <%= f.submit 'Send',:class => 'btn-lg btn-block button-change' %>
    
    <% end %>
  </div>
</div>